/* start footer css */

.footer-bg {
    background-color: #FF9100;
    height: 72px;
    width: 40%;
    margin-left: 80px;
    display: flex;
    justify-content: center;
}

.footer-title {
    display: flex;
    justify-content: flex-end;
    margin-right: 72px;
    margin-bottom: -66px;
    font-size: 64px;
    font-weight: 700;
    padding-left: 72px;
    margin-bottom: -120px;
}

.footer-container {
    background-color: #e2e2e2;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.footer-text, .footer-form {
    flex-grow: 1;
}

.footer-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1.6;
    margin-left: 24px;
    padding: 20px;
    padding-right: 40px;
}

.footer-form {
    flex: 1;
}

.form {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 20px;
}

.input-mail, .input-msg, .input-name {
    padding-left: 8px;
    padding-top: 4px;
    padding-right: 32px;
    padding-bottom: 4px;
    margin-bottom: 8px;
    border: none;
    width: 100%;
}

.input-msg {
    padding-bottom: 80px;
}

.Send-msg {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 12px;
    font-family: IBM Plex Sans, Lato, sans-serif;
    background-color: #FF9100;
    color: #fff;
    border: none;
    transition: transform 0.3s;
}

.Send-msg:hover {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}

.developer-name {
    display: flex;
    justify-content: center;
    background-color: #e2e2e2;
    padding: 24px;
    padding-top: 0px;
}

.footer-mail, .footer-insta, .footer-fb, .footer-linkedin {
    border: none;
    background-color: #FF9100;
    padding: 24px;
    margin: 20px;
}

.footer-mail {
    margin-left: 0px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    
}

ion-icon {
    font-size: 32px;
    color: #fff;
    background-color: #FF9100;
}

/* End footer css */