* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: IBM Plex Sans, Lato, sans-serif;
    font-size: 14px;
    color: #000;
    line-height: 1.5;
}

/* NAVBAR CSS */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #FF9100;
}

.container{
    margin: auto;
}

.nav_checkbox{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    padding: 10px 0px;

}

.logo{
    grid-column: 2 / 3;
    text-decoration: none;
    color: white;
    padding-left: 0px;
}

svg {
    height: 66px;
    width: 66px;
}

a {
    font-family: IBM Plex Sans, Lato, sans-serif;
}

.tab-nav{
    outline: none;
    display: none;
}

.label{
    display: none;
    color: white;
}

.burger{
    width: 40px;
    height: 3px;
    background-color: white;
    margin-top: 8px;
    margin-bottom: 3px;
}

.content_nav{
    grid-column: 8 / 12;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.content_nav li{
    display: inline-block;
    padding-left: 28px;
    
}

.content_nav li a{
    text-decoration: none;
    color: white;
    position: relative;
}

.content_nav li a::after{
    content: '';
    display: block;
    height: 2px;
    background-color: #FF9100;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 2px;
    transform-origin: right;
    transform: scale(0, 1);
    transition: transform ease-in-out 0.5s;

}

.content_nav li a:hover::after{
    transform: scale(1, 1);
    margin-top: 2px;
}

@media screen and (max-width: 1280px){

    .container{
        width: 100%;
    }

}

/* IPAD & MOBILE MEDIA QUERY*/

@media screen and (max-width: 1050px){

    .label{
        display: grid;
        cursor: pointer;
        grid-column: 11;
        padding-right: 0px;
        margin-left: 32px;
    }

    .content_nav{
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 5 / 9;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6s;
    }

    .nav_checkbox input:checked ~ .content_nav{
        max-height: 500px;
    }

    .content_nav li{
        padding: 15px 0px;
    }


}

/* --------------------------- CONTENT CSS ---------------------------------*/

.header {
    margin-top: 5%;
    z-index: 0;
}

#content-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(47, 120px);                
    gap: 0px;
    margin: 20px;
    margin-top: -10px;
    margin-left: 0px;
    margin-right: 0px;
}

p {
    line-height: 2;
}

h1 {
    font-size: 60px;
    margin-top: 20px; 
}

h1, h2, h3, p {
    margin-bottom: 20px;
}

h3 {
    font-weight: 400;
    font-style: italic;
}

.content-item:nth-of-type(1) {
    grid-column: 1 / 13;
    grid-row: 1 / 6;
    background-color: #ff9100;
    background-image: url("Longboard-5385.jpg");
    height: 600px;                           
    max-width: 100%;
    background-position: center;            
    background-repeat: no-repeat;           
    background-size: cover;
}

.content-item:nth-of-type(2) {
    grid-column: 2 / 12;
    grid-row: 4 / 30;
    background-color: #fff;
}

.content-item:nth-of-type(3) {
    grid-column: 1 / 13;
    grid-row: 6 / 40;
    background-color: aliceblue;
}

.content-item:nth-of-type(4) {
    grid-column: 4 / 10;
    grid-row: 4 / 8;
    margin-bottom: 12px;
}

.content-item:nth-of-type(5) {
    grid-column: 4 / 10;
    grid-row: 8 / 12;
}

.content-item:nth-of-type(6) {
    grid-column: 4 / 10;
    grid-row: 13 / 17;              
    background-image: url("stand-on-board.jpg");
    height: 600px;                           
    max-width: 100%;
    background-position: center;            
    background-repeat: no-repeat;           
    background-size: cover;
}

.content-item:nth-of-type(7) {
    grid-column: 4 / 10;
    grid-row: 18 / 21;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-item:nth-of-type(9) {
    grid-column: 4 / 10;
    grid-row: 23 / 32;
    margin-top: 20px;
}

.content-item:nth-of-type(10) {
    grid-column: 4 / 10;
    grid-row: 30 / 34;
    background-image: url("rocket-ad.jpg");
    height: 1400px;                           
    max-width: 100%;
    background-position: center;            
    background-repeat: no-repeat;           
    background-size: cover;
}

.content-item:nth-of-type(11) {
    grid-column: 4 / 10;
    grid-row: 43 / 46;
}

.content-item:nth-of-type(12) {
    grid-column: 4 / 10;
    grid-row: 47 / 49;
}

.contact-p {
    font-weight: 700;
}

.contact-btn {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 12px;
    font-family: IBM Plex Sans, Lato, sans-serif;
    background-color: #FF9100;
    color: #fff;
    border: none;
    transition: transform 0.3s;
}

.contact-btn:hover {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}

/* MEDIA QUERIES */

@media only screen and (max-width:1650px) {
    
    .content-item:nth-of-type(4) {
        grid-column: 3 / 11;
        grid-row: 4 / 8;
        margin-bottom: 12px;
    }
    
    .content-item:nth-of-type(5) {
        grid-column: 3 / 11;
        grid-row: 8 / 12;
    }
    
    .content-item:nth-of-type(6) {
        grid-column: 3 / 11;
        grid-row: 13 / 17;             
    }
    
    .content-item:nth-of-type(7) {
        grid-column: 3 / 11;
        grid-row: 18 / 21;
        margin-top: 20px;
        margin-bottom: 4px;
    }
    
    .content-item:nth-of-type(9) {
        grid-column: 3 / 11;
        grid-row: 23 / 32;
        margin-top: -40px;
    }
    
    .content-item:nth-of-type(10) {
        grid-column: 3 / 11;
        grid-row: 28 / 41;
        height: 1500px;                          
        max-width: 100%;
    }
    
    .content-item:nth-of-type(11) {
        grid-column: 3 / 11;
        grid-row: 41 / 46;
    }
    
    .content-item:nth-of-type(12) {
        grid-column: 3 / 11;
        grid-row: 45 / 48;
        margin-top: 20px;
    }
}

/* MEDIA QUERY 1450 */

@media only screen and (max-width:1450px) {
    .content-item:nth-of-type(9) {
        margin-top: -20px;
    } 
}

/* MEDIA QUERY 1400 */

@media only screen and (max-width:1400px) {
    #content-container {
        grid-template-rows: repeat(50, 120px);
    }
    
    .content-item:nth-of-type(9) {
        margin-top: 20px;
    } 

    .content-item:nth-of-type(10) {
        grid-column: 3 / 11;
        grid-row: 29 / 34;
    }
     
    .content-item:nth-of-type(11) {
        grid-column: 3 / 11;
        grid-row: 44 / 48;
    }

    .content-item:nth-of-type(12) {
        grid-column: 3 / 11;
        grid-row: 48 / 50;
    }
}

/* MEDIA QUERY 1250 */

@media only screen and (max-width:1250px) {

    #content-container {
        grid-template-rows: repeat(47, 120px);
    }

    h1 {
        font-size: 52px;
    }

    .content-item:nth-of-type(6) {
        grid-column: 3 / 11;
        grid-row: 13 / 17;
        margin-top: 60px; 
        margin-bottom: 20px;
    }    

    .content-item:nth-of-type(7){
        margin-top: 80px;
    }

    .content-item:nth-of-type(9){
        margin-top: 80px;
    }

    .content-item:nth-of-type(10) {
        grid-column: 3 / 11;
        grid-row: 30 / 41;
        height: 100%;                          
    }

    .content-item:nth-of-type(11) {
        grid-column: 3 / 11;
        grid-row: 42 / 45;
    }
    .content-item:nth-of-type(12) {
        grid-column: 3 / 11;
        grid-row: 46 / 49;
    }

}

/* MEDIA QUERY 1200 */

@media only screen and (max-width:1200px) {
    .content-item:nth-of-type(9) {
        margin-top: 14vh;
    }
}

/* MEDIA QUERY 1130 */

@media only screen and (max-width:1130px) {
    .content-item:nth-of-type(11) {
        margin-top: 1vh;
    }

    .content-item:nth-of-type(12) {
        margin-top: 10vh;
    }
}

/* MEDIA QUERY 1020 */

@media only screen and (min-width:1020px) {

    .content-item:nth-of-type(6) {
        grid-column: 3 / 11;
        grid-row: 14 / 18;
        margin-top: 0px; 
        margin-bottom: 0px;
        max-height: 90%;

    }

    .content-item:nth-of-type(7){
        margin-top: 4vh;
    }

    .content-item:nth-of-type(9) {
        margin-top: 14vh;
    }

    .content-item:nth-of-type(10) {
        grid-row: 31 / 42;
    }
}

/* MEDIA QUERY 1019 */

@media only screen and (max-width:1019px) {
    #content-container {
        grid-template-rows: repeat(50, 120px);
    }

    h1 {
        font-size: 40px;
    }

    .content-item:nth-of-type(6) {
        margin-top: 120px;
        max-height: 80%;
        grid-row: 14 / 18;
    }


    .content-item:nth-of-type(7) {
        grid-row: 18 / 26;
    }

    .content-item:nth-of-type(9) {
        grid-row: 24 / 29;
    }

    .content-item:nth-of-type(10) {
        grid-row: 31 / 41;
        margin-top: 12vh;
    }

    .content-item:nth-of-type(12) {
        grid-row: 47 / 48;
    }
}

/* MEDIA QUERY 920 */

@media only screen and (max-width:920px){
    #content-container {
        grid-template-rows: repeat(52, 120px);
    }

    .content-item:nth-of-type(6) {
        margin-top: 140px;
        max-height: 70%;
    }

    .content-item:nth-of-type(9) {
        margin-top: 20vh;
        padding-top: 20px;
    }

    .content-item:nth-of-type(10) {
        grid-row: 32 / 44;
        height: 1300px;                           
        max-width: 100%;
        background-position: center;            
        background-repeat: no-repeat;           
        background-size: cover;
    }

    .content-item:nth-of-type(11) {
        grid-row: 44 / 49;
    }

    .content-item:nth-of-type(12) {
        grid-row: 49 / 51;
    }

}

/* MEDIA QUERY 700px - 830px */

@media only screen and (max-width:830px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    #content-container {
        grid-template-rows: repeat(52, 120px);
    }

    .content-item:nth-of-type(6) {
        margin-top: 38vh;
        max-height: 60%;
    }

    .content-item:nth-of-type(7) {
        margin-top: 20vh;
    }

    .content-item:nth-of-type(9) {
        margin-top: 53vh;
        padding-top: 20px;
    }

    .content-item:nth-of-type(10) {
        grid-column: 2 / 12;
        grid-row: 35 / 44;
        height: 900px;                           
        width: 100%;
        background-position: cover;            
        background-repeat: no-repeat;           
        background-size: cover;
    }

    .content-item:nth-of-type(11) {
        grid-row: 43 / 49;
        margin-top: 10vh;
    }

    .content-item:nth-of-type(12) {
        grid-row: 49 / 51;
    }

}


/* Mobile Media Queries 540 - 699px*/ 

@media only screen and (max-width:699px){

    #content-container {
        grid-template-rows: repeat(100, 60px);                
    }
    
    p {
        line-height: 2;
    }
    
    h1 {
        font-size: 30px;
        margin-top: 20px; 
    }
    
    h1, h2, h3, p {
        margin-bottom: 20px;
    }
    
    h3 {
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
    }
    
    .content-item:nth-of-type(1) {
        grid-column: 1 / 13;
        grid-row: 1 / 6;
        height: 600px;                           
        max-width: 100%;
        background-position: 50% -5%;            
        background-repeat: no-repeat;           
        background-size: contain;
    }
    
    .content-item:nth-of-type(2) {
        grid-column: 1 / 13;
        grid-row: 6 / 50;
        background-color: #fff;
    }
    
    .content-item:nth-of-type(3) {
        grid-column: 1 / 13;
        grid-row: 6 / 40;
        background-color: #fff;
    }
    
    .content-item:nth-of-type(4) {
        grid-column: 2 / 12;
        grid-row: 6 / 11;
        margin-bottom: 12px;
    }
    
    .content-item:nth-of-type(5) {
        grid-column: 2 / 12;
        grid-row: 13 / 15;
    }
    
    .content-item:nth-of-type(6) {
        grid-column: 2 / 12;
        grid-row: 30 / 35;
        margin-top: 0px;              
        background-image: url("stand-on-board.jpg");
        height: 600px;                          
        max-width: 100%;
        background-position: center;            
        background-repeat: no-repeat;           
        background-size: cover;
    }
    
    .content-item:nth-of-type(7) {
        grid-column: 2 / 12;
        grid-row: 34 / 40;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    
    .content-item:nth-of-type(9) {
        grid-column: 2 / 12;
        grid-row: 51 / 59;
        margin-top: 20px;
    }
    
    .content-item:nth-of-type(10) {
        grid-column: 2 / 12;
        grid-row: 68 / 81;
        background-image: url("rocket-ad.jpg");
        height: 1000px;                           
        max-width: 100%;
        max-height: 100%;
        margin-top: 0px;
    }
    
    .content-item:nth-of-type(11) {
        grid-column: 2 / 12;
        grid-row: 82 / 88;
        margin-top: 0px;
        padding-top: 0px;
    }
    
    .content-item:nth-of-type(12) {
        grid-column: 2 / 12;
        grid-row: 95 / 98;
        margin-top: 0px;
    }
}

/* Mobile Media Queries 440 - 539px*/ 

@media only screen and (max-width:539px) {
    #content-container {
        grid-template-rows: repeat(175, 40px);                
    }

    h1 {
        font-size: 38px;
    }

    .content-item:nth-of-type(1) {
        grid-column: 1 / 13;
        grid-row: 1 / 6;
        height: 600px;                           
        max-width: 100%;
        background-position: 50% -5%;            
        background-repeat: no-repeat;           
        background-size: contain;
    }
    
    .content-item:nth-of-type(2) {
        grid-column: 1 / 13;
        grid-row: 5 / 200;
        background-color: #fff;
    }
    
    .content-item:nth-of-type(3) {
        grid-column: 1 / 13;
        grid-row: 6 / 200;
        background-color: #fff;
    }
    
    .content-item:nth-of-type(4) {
        grid-column: 2 / 12;
        grid-row: 5 / 9;
        margin-bottom: 12px;
    }
    
    .content-item:nth-of-type(5) {
        grid-column: 2 / 12;
        grid-row: 19 / 30;
    }
    
    .content-item:nth-of-type(6) {
        grid-column: 2 / 12;
        grid-row: 55 / 62;              
        background-image: url("stand-on-board.jpg");
        height: 1000px;                           
        max-width: 100%;
        margin-bottom: 0px;
        margin-top: 16px;
        background-position: center;            
        background-repeat: no-repeat;           
        background-size: cover;
    }
    
    .content-item:nth-of-type(7) {
        grid-column: 2 / 12;
        grid-row: 60 / 100;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .content-item:nth-of-type(9) {
        grid-column: 2 / 12;
        grid-row: 96 / 129;
        margin-top: 0px;
    }
    
    .content-item:nth-of-type(10) {
        grid-column: 2 / 12;
        grid-row: 132 / 144;
        background-image: url("rocket-ad.jpg");
        height: 1000px;                           
        max-width: 100%;
        max-height: 100%;
        margin-top: 0px;
        background-position: top;            
        background-repeat: no-repeat;           
        background-size: contain;
    }
    
    .content-item:nth-of-type(11) {
        grid-column: 2 / 12;
        grid-row: 144 / 170;
    }
    
    .content-item:nth-of-type(12) {
        grid-column: 2 / 12;
        grid-row: 170 / 174;
    }
}

/* Mobile Media Queries 401 - 440px*/ 
@media only screen and (max-width:440px) {
    #content-container {
        grid-template-rows: repeat(169, 40px);                
    }
    
    .content-item:nth-of-type(6) {
        grid-column: 2 / 12;
        grid-row: 53 / 62;              
    }

    .content-item:nth-of-type(9) {
        grid-column: 2 / 12;
        grid-row: 94 / 129;
        margin-top: 0px;
    }

    .content-item:nth-of-type(10) {
        grid-column: 2 / 12;
        grid-row: 127 / 141;
        background-image: url("rocket-ad.jpg");
    }
    
    .content-item:nth-of-type(11) {
        grid-column: 2 / 12;
        grid-row: 140 / 170;
    }
    
    .content-item:nth-of-type(12) {
        grid-column: 2 / 12;
        grid-row: 165 / 168;
    }

}

/* Mobile Media Queries 375 - 400px*/ 

@media only screen and (max-width:400px) {
    #content-container {
        grid-template-rows: repeat(171, 40px);                
    }

    .content-item:nth-of-type(1) {
        grid-column: 1 / 13;
        grid-row: 1 / 6;
        height: 600px;                           
        max-width: 100%;
        background-position: 50% -5%;            
        background-repeat: no-repeat;           
        background-size: contain;
    }
    
    .content-item:nth-of-type(2) {
        grid-column: 1 / 13;
        grid-row: 5 / 200;
        background-color: #fff;
    }
    
    .content-item:nth-of-type(3) {
        grid-column: 1 / 13;
        grid-row: 6 / 200;
        background-color: #fff;
    }
    
    .content-item:nth-of-type(4) {
        grid-column: 2 / 12;
        grid-row: 5 / 9;
        margin-bottom: 12px;
    }
    
    .content-item:nth-of-type(5) {
        grid-column: 2 / 12;
        grid-row: 19 / 30;
    }
    
    .content-item:nth-of-type(6) {
        grid-column: 2 / 12;
        grid-row: 54 / 62;              
        background-image: url("stand-on-board.jpg");
        height: 1200px;                           
        max-width: 100%;
        margin-bottom: 45px;
        margin-top: 8px;
        background-position: center;            
        background-repeat: no-repeat;           
        background-size: cover;
    }
    
    .content-item:nth-of-type(7) {
        grid-column: 2 / 12;
        grid-row: 59 / 100;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .content-item:nth-of-type(9) {
        grid-column: 2 / 12;
        grid-row: 94 / 129;
        margin-top: 0px;
    }
    
    .content-item:nth-of-type(10) {
        grid-column: 2 / 12;
        grid-row: 129 / 141;
        background-image: url("rocket-ad.jpg");
        height: 1000px;                           
        max-width: 100%;
        max-height: 100%;
        margin-top: 0px;
        background-position: top;            
        background-repeat: no-repeat;          
        background-size: contain;
    }
    
    .content-item:nth-of-type(11) {
        grid-column: 2 / 12;
        grid-row: 142 / 170;
    }
    
    .content-item:nth-of-type(12) {
        grid-column: 2 / 12;
        grid-row: 167 / 171;
    }
}



/* Mobile Media Queries 360 - 375px*/ 

@media only screen and (max-width:375px) {
    #content-container {
        grid-template-rows: repeat(175, 40px);                
    }

    p {
        line-height: 2;
    }
    
    h1 {
        font-size: 34px;
        margin-top: 20px; 
    }
    
    h1, h2, h3, p {
        margin-bottom: 16px;
    }
    
    h3 {
        font-weight: 400;
        font-style: italic;
        line-height: 2;
    }
    
    .content-item:nth-of-type(1) {
        grid-column: 1 / 13;
        grid-row: 1 / 6;
        height: 600px;                           
        max-width: 100%;
        background-position: 50% -5%;            
        background-repeat: no-repeat;           
        background-size: contain;
    }
    
    .content-item:nth-of-type(2) {
        grid-column: 1 / 13;
        grid-row: 5 / 200;
        background-color: #fff;
    }
    
    .content-item:nth-of-type(3) {
        grid-column: 1 / 13;
        grid-row: 6 / 200;
        background-color: #fff;
    }
    
    .content-item:nth-of-type(4) {
        grid-column: 2 / 12;
        grid-row: 5 / 9;
        margin-bottom: 12px;
    }
    
    .content-item:nth-of-type(5) {
        grid-column: 2 / 12;
        grid-row: 19 / 30;
    }
    
    .content-item:nth-of-type(6) {
        grid-column: 2 / 12;
        grid-row: 55 / 62;              
        background-image: url("stand-on-board.jpg");
        height: 1000px;                           
        max-width: 100%;
        margin-bottom: 0px;
        margin-top: 16px;
        background-position: center;            
        background-repeat: no-repeat;           
        background-size: cover;
    }
    
    .content-item:nth-of-type(7) {
        grid-column: 2 / 12;
        grid-row: 60 / 100;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .content-item:nth-of-type(9) {
        grid-column: 2 / 12;
        grid-row: 96 / 129;
        margin-top: 0px;
    }
    
    .content-item:nth-of-type(10) {
        grid-column: 2 / 12;
        grid-row: 132 / 144;
        background-image: url("rocket-ad.jpg");
        height: 1000px;                           
        max-width: 100%;
        max-height: 100%;
        margin-top: 0px;
        background-position: top;            
        background-repeat: no-repeat;           
        background-size: contain;
    }
    
    .content-item:nth-of-type(11) {
        grid-column: 2 / 12;
        grid-row: 144 / 170;
    }
    
    .content-item:nth-of-type(12) {
        grid-column: 2 / 12;
        grid-row: 170 / 174;
    }
    
    .contact-btn {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 112px;
        padding-right: 112px;
        margin-top: 12px;
        font-family: IBM Plex Sans, Lato, sans-serif;
        font-weight: 600;
        background-color: #FF9100;
        color: #fff;
        border: none;
        transition: transform 0.3s;
    }
}

/* FOOTER */