* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: IBM Plex Sans, Lato, sans-serif;
    font-size: 14px;
    color: #000;
    line-height: 1.5;
}

a {
    color: #000;
    text-decoration: none;
}

p {
    margin-top: 20px;
    line-height: 2.5;
}

h1 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 16px;
}

/* NAVBAR CSS */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #FF9100;
}

.container{
    margin: auto;
}

.nav_checkbox{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    padding: 10px 0px;

}

.logo{
    grid-column: 2 / 3;
    text-decoration: none;
    color: white;
    padding-left: 0px;
}

svg {
    height: 66px;
    width: 66px;
}

a {
    font-family: IBM Plex Sans, Lato, sans-serif;
}

.tab-nav{
    outline: none;
    display: none;
}

.label{
    display: none;
    color: white;
}

.burger{
    width: 40px;
    height: 3px;
    background-color: white;
    margin-top: 8px;
    margin-bottom: 3px;
}

.content_nav{
    grid-column: 8 / 12;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.content_nav li{
    display: inline-block;
    padding-left: 28px;
    
}

.content_nav li a{
    text-decoration: none;
    color: white;
    position: relative;
}

.content_nav li a::after{
    content: '';
    display: block;
    height: 2px;
    background-color: #FF9100;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 2px;
    transform-origin: right;
    transform: scale(0, 1);
    transition: transform ease-in-out 0.5s;

}

.content_nav li a:hover::after{
    transform: scale(1, 1);
    margin-top: 2px;
}

@media screen and (max-width: 1280px){

    .container{
        width: 100%;
    }

}

/* IPAD & MOBILE MEDIA QUERY*/

@media screen and (max-width: 1050px){

    .label{
        display: grid;
        cursor: pointer;
        grid-column: 11;
        padding-right: 0px;
        margin-left: 32px;
    }

    .content_nav{
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 5 / 9;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6s;
    }

    .nav_checkbox input:checked ~ .content_nav{
        max-height: 500px;
    }

    .content_nav li{
        padding: 15px 0px;
    }


}

/* 1st div container css */

.about-me-pic {
    width: 100%;
    max-height: 680px;
    object-fit: cover;
    object-position: 0, 65%;
    max-inline-size: 100%; 
}

#content-container {
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.text-container-1 {
    max-width: 40%;
    margin-left: 10%;
    padding-right: 40px;
}

.picture-container-2 {
    max-width: 50%;
    margin-right: 10%;
    margin-top: 20px;
}

.about-me-pic-2 {
    width: 100%;
    max-height: 80%;
    margin-left: 10px;
    object-fit: contain;    
}

/* navbar css */

.navbar .nav-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar {
    color: #fff;
    height: 88px;
}

.nav-container {
    background-color: #fff; 
    justify-content: space-between;
}

.logo {
    background-color: #FF9100;
    font-size: 44px;
    font-weight: 700;
    padding: 20px;
}

.nav-links ul {
    display: flex;
    justify-content: space-between;
}

.nav-links ul li {
    margin-left: 20px;
    margin-right: 40px;
    font-weight: 500;
}

.nav-links ul li a:hover {
    color: FF9100;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

label {
    margin: 0 40px 0 0;
    line-height: 60;
    display: none;
}

#toggle {
    display: none;
}

.burger-menu {
    display: none;
}
 
/* End navbar css */

/* Navbar media Queries */

@media only screen and (max-width: 840px) {
    .burger-menu {
        display: block;
    }

    label   {
        display: block;
        cursor: pointer;
        color: #000;
        font-size: 26px;
        font-weight: bolder;
    } 

    #toggle {
        display: none;
        margin-top: -10px; 
    }

    .nav-links {
        display: none;
        width: 100%;
        border-bottom: 1px solid #eaeaeb;
        margin: 0;
    }
}

/* breakpoint 1500 px */

@media only screen and (max-width: 1500px) {
    #content-container {
        margin-top: 40px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
         
    }
    
    .text-container-1 {
        max-width: 60%;
    }
    
    .picture-container-2 {
        max-width: 60%;
        margin-top: 40px;
    }
    
    .about-me-pic-2 {
        width: 100%;
        max-height: 80%;
        padding-left: 20%;
        object-fit: contain;    
    }
}

/* Phone <500 px breakpoint */

@media only screen and (max-width: 500px) {
    #content-container {
        margin-top: 20px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
         
    }
    
    .text-container-1 {
        max-width: 90%;
    }
    
    .picture-container-2 {
        max-width: 90%;
        margin-top: 40px;
    }
    
    .about-me-pic-2 {
        width: 100%;
        max-height: 80%;
        padding-left: 10%;    
    }

    h3 {
        line-height: 2;
    }
}


/* start footer css */

.footer-bg {
    background-color: #FF9100;
    height: 72px;
    width: 40%;
    margin-left: 80px;
    display: flex;
    justify-content: center;
}

.footer-title {
    display: flex;
    justify-content: flex-end;
    margin-right: 72px;
    margin-bottom: -66px;
    font-size: 64px;
    font-weight: 700;
    padding-left: 72px;
    margin-bottom: -120px;
}

.footer-container {
    background-color: #e2e2e2;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.footer-text, .footer-form {
    flex-grow: 1;
}

.footer-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1.6;
    margin-left: 24px;
    padding: 20px;
    padding-right: 40px;
}

.footer-form {
    flex: 1;
}

.form {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 20px;
}

.input-mail, .input-msg, .input-name {
    padding-left: 8px;
    padding-top: 4px;
    padding-right: 32px;
    padding-bottom: 4px;
    margin-bottom: 8px;
    border: none;
    width: 100%;
}

.input-msg {
    padding-bottom: 80px;
}

.Send-msg {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 12px;
    font-family: IBM Plex Sans, Lato, sans-serif;
    background-color: #FF9100;
    color: #fff;
    border: none;
    transition: transform 0.3s;
}

.Send-msg:hover {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}

.developer-name {
    display: flex;
    justify-content: center;
    background-color: #e2e2e2;
    padding: 24px;
    padding-top: 0px;
}

.footer-mail, .footer-insta, .footer-fb, .footer-linkedin {
    border: none;
    background-color: #FF9100;
    padding: 24px;
    margin: 20px;
}

.footer-mail {
    margin-left: 0px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    
}

ion-icon {
    font-size: 32px;
    color: #fff;
    background-color: #FF9100;
}

/* End footer css */

/* Footer Media Queries */



@media only screen and (max-width: 500px) {

.footer-bg {
    background-color: #FF9100;
    height: 40px;
    width: 40%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
}

.footer-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 10px;
    margin-bottom: -66px;
    font-size: 40px;
    font-weight: 700;
    padding-left: 148px;
    margin-bottom: -100px;
}

.footer-container {
    background-color: #e2e2e2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-text, .footer-form {
    flex-grow: 1;
}

.footer-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1.6;
    margin-left: 12px;
    padding: 8px;
    padding-right: 8px;
}

.footer-form {
    flex: 1;
}

.form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 20px;
}

.input-mail, .input-msg, .input-name {
    padding-left: 8px;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 4px;
    margin-bottom: 8px;
    border: none;
} 

.input-msg {
    padding-bottom: 8px;
}

.name, .mail, .msg {
    padding: 0;
    margin: 0;
}

.Send-msg {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 12px;
    font-family: IBM Plex Sans, Lato, sans-serif;
    background-color: #FF9100;
    color: #fff;
    border: none;
}

.developer-name {
    display: flex;
    justify-content: center;
    background-color: #e2e2e2;
    padding: 24px;
    padding-top: 0px;
}

.footer-mail, .footer-insta, .footer-fb, .footer-linkedin {
    border: none;
    background-color: #FF9100;
    padding: 24px;
    margin: 20px;
}

.footer-mail {
    margin-left: 0px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    
}

ion-icon {
    font-size: 32px;
    color: #fff;
    background-color: #FF9100;
}

}