* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.content-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);                
    gap: 0px;
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
}